/* --------------- code for survey collection ----------------- */

#surveyTool .actions .surveyButtonSend,
#surveyTool .actions .surveyButtonCancel {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#C20014 url(http://s2.au.reastatic.net/rs/img/buttons/rea_search.png$$114.586-2) repeat scroll 50% -55px;
    border:medium none;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    font-weight:bold;
    height:31px;
    letter-spacing:0.04em;
    margin:7px 0 0 0;
    padding-bottom:3px;
    padding-left:2px;
    width:85px;
    text-align:center;
    line-height:30px;
    text-decoration:none;
}
#surveyTool .actions .surveyButtonCancel {
    background-color:#efefef;
    color:#333;
}

#surveyTool {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    text-align:center;
    padding-bottom:30px;
    padding-top:20px;
}
#surveyTool p{
    text-align:right;
}
#surveyTool #surveyToolSmiles {
    width: 90px;
    float: right;
}

#surveyTool #surveyToolSmiles {
    width: 90px;
margin-bottom:10px;	
}
#surveyTool #surveyToolSmiles a {
    display:block;
    width:23px;
    height:23px;
    text-indent:-9000px;
    background-image: url(/images/smileys.png);
    float:left;
    margin-left:5px;
}
#surveyTool #surveyToolSmiles a.happy {background-position:top left;}
#surveyTool #surveyToolSmiles a.happy:hover,
#surveyTool #surveyToolSmiles.happy a.happy {background-position: bottom left;}

#surveyTool #surveyToolSmiles a.indifferent {background-position: -23px top;}
#surveyTool #surveyToolSmiles a.indifferent:hover,
#surveyTool #surveyToolSmiles.indifferent a.indifferent {background-position: -23px bottom;}

#surveyTool #surveyToolSmiles a.sad {background-position: top right;}
#surveyTool #surveyToolSmiles a.sad:hover,
#surveyTool #surveyToolSmiles.sad a.sad {background-position: bottom right;}

#surveyTool .surveyToolFeedback {
    display:block;
    float:right;
    clear:both;
    text-align:right;
    width:300px;
}
#surveyTool .actions {
    float:right;
}

#surveyTool .surveyToolSuccess {
    display:block;
    float:right;
    clear:both;
}

/* --------------- code for list view ----------------- */
html {font-size:78%;}
body {background-color:#efefef; font-family: Arial; color:#333; font-size:1em; text-align:center;}

#wrapper {
width: 980px; 
margin-left: auto; 
margin-right:auto; 
text-align:left; 
background:#fff url(/images/nora_hero_small.jpg) no-repeat; 
padding:20px;
}
#wrapper h1 {
padding-bottom:30px;
color:#666;
font-size:3em;
padding-left:150px;
}
.clearAll {display:block; clear:both;}
#pageHeaderInfo #productFilter {float:right; line-height:20px;}

.highlight {background-color:#33ff33;}

#listUpdate {float:right; text-align:right;}

.responseWrap {
padding:20px;
margin-bottom:20px;
background-color:#efefef;
overflow:auto;
}

.responseHeader {overflow:auto;}

.responseWrap .responseScore {
display:block;
width:23px;
height:23px;
text-indent:-9000px;
background-image: url(/images/smileys.png);
float:left;
margin-right:10px;
}
.responseWrap .responseScore.happy {background-position: left bottom;}
.responseWrap .responseScore.indifferent {background-position: -23px bottom;}
.responseWrap .responseScore.sad {background-position: right bottom;}

.responseWrap .responseUrl {
float:right;
}

.responseWrap .responseTrend {
background-image:url(/images/up-stay-down.png);
display:block;
height:22px;
width:23px;
float:left;
text-indent:-9000px;
margin-right:10px;
}
.responseWrap .responseTrend.up {background-position:left top;}
.responseWrap .responseTrend.stay {background-position:left -25px;}
.responseWrap .responseTrend.down {background-position:left bottom;}

.responseWrap h2.responseProduct {margin:0;}
.responseWrap .pushToSupport {float:right; margin-top:10px;}

.pagination .next20 {
background-repeat:no-repeat;
background-image: url(/images/down-arrow.png);
background-position: center bottom;
height:70px;
text-align:center;
display:block;
width:100%;
text-decoration:none;
font-weight:bold;
color:#999;
}

#footer {
width:980px;
margin-left:auto;
margin-right:auto;
padding-top:10px;
}

#footer .rss {
width:46px;
height:46px;
display:block;
text-indent:-9000px;
background: transparent url(/images/rss-icon.png) no-repeat;
float:right;
}
#footer .excell {
margin-right:10px;
width:45px;
height:48px;
display:block;
text-indent:-9000px;
background: transparent url(/images/excell-icon.png) no-repeat;
float:right;
}
#footer .attribution {
float:left;
color:#999;
font-size:1.2em;
}
