<div id="wrapper">
	<div id="listUpdate">
		<div class="waiting">&nbsp;</div>
		<p id="updaterTimeStamp">Last updated [insert time]</p>
	</div>
	<h1>Want to know what the customer thinks? Look below.</h1>
	<div id="pageHeaderInfo">
		<form action="" id="productFilter">
			<select name="feedback-filter">
				<option value="All" disabled="disabled" selected="selected">Choose Filter</option>
				<option value="All">All Products</option>
				<option value="agentDesktop">Agent Desktop</option>
				<option value="realestatecomau">realestate.com.au</option>
				<option value="realcommercialcomau">realcommercial.com.au</option>
			</select>
		</form>
		<div class="clearAll">&nbsp;</div>
	</div>
	<div class="responses">
	  <%= render :partial => 'index'%>
	</div>
	
	<div class="pagination">
		<a href="#" class="next20">See next 20 results</a>
	</div>
	
</div>
<div id="footer">
	<p class="attribution">Innovation Day 4-5 August 2011 | by Aidan Green, Siebert Lubbe, Edmund Lam</p>
	<a href="#" class="rss">RSS</a>
	<a href="#" class="excell">Excell</a>
</div>

<div id="notice"></div>
<div id="app"></div>

